#map img {
  max-width: none;
  width: auto;
  display:inline;
}

#map {
  width: 100%;
  height:100%;
  float:left;
}

#reportrange {
  cursor: hand;
}

#filters {
  height: 90%;
}

#max_cost, #artist_name, #venue_text, #artist_text {
  height: 2em;
  width: 8em;
}
